.customer-container {
    background-color: #F2F2F2;
    padding: 20px 20px;
}

.special-color {
    color: #0066A7;
}

.search-box {
    border-radius: 4px;
    display: flex;
    align-items: center;
}

#search-order-img {
    height: 20px;
    cursor: pointer;
}

#export-btn {
    background-color: #0066A7;
    color: white;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-btn {
    background-color: #0066A7;
    color: white;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.custom-select {
    color: grey !important; /* Default color */
}

.custom-select option {
    color: black !important;
}

.custom-select .select-all {
    color: grey !important;
}

.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    opacity: .65 !important;
    transform: scale(.85) translateY(-.8rem) translateX(.15rem) !important;
}

.custom-btn
{
    border: none !important; 
    outline: none !important; 
    background-color: transparent !important;
}
.custom-select-box {
    position: relative;
    width: 200px;
    background: white;
    cursor: pointer;
}
.selected-option {
    padding: 0px;
}

.options-container {
    display: none;
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    z-index: 1000 !important;
}

.option {
    padding: 7px 7px;
    cursor: pointer;
}

.option:hover {
    background: #f1f1f1;
} 

@media (max-width: 768px) {
    #inputContainerCustomer input {
        font-size: 14px;
    }

    .custom-select-box {
        width: 100%;
    }

    .options-container {
        position: relative;
        z-index: 1000;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        overflow: hidden;
    }

    .option {
        padding: 10px;
        cursor: pointer;
    }

    .option:hover {
        background-color: #f1f1f1;
    }

    #export-btn span {
        font-size: 14px;
    }
}
