* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    height: 70px;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: #0066A7;
    left: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
/* i have changed position:fixed, added z-index-2 in navbar 
/* and in main block i have added margin top:70px
/* removed the height:100vh from main-block
/* Make the Sidebar Fixed */
.sidebar {
    font-weight: 500;
    letter-spacing: 1.10px;
    position: fixed;
    top: 70px;
    left: 0;
    height: 100vh;
    width: 250px;
    overflow-y: auto;
}


.main-block {
    margin-left: 250px;
    margin-top: 70px;
    flex-grow: 1;
    background-color: #6c757d23;
    overflow-y: auto;

    @media screen and (max-width:991px) {
        margin-left: 0;
    }
}



.offcanvas-backdrop.show~.modal-backdrop {
   display: none !important;
   opacity: 0.5 !important;
}
.offcanvas-backdrop~.modal-backdrop {
    display: none !important;
    opacity: 0.5 !important;

}


/* Loader Styles */
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background:
        linear-gradient(0deg, rgb(0 0 0 / 50%) 30%, #0000 0 70%, rgb(0 0 0 / 100%) 0) 50% / 8% 100%,
        linear-gradient(90deg, rgb(0 0 0 / 25%) 30%, #0000 0 70%, rgb(0 0 0 / 75%) 0) 50% / 100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
    z-index: 9999;
}
 
/* Overlay to blur the background */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(100px);
    z-index: 9998;
}
 
.loader.hidden,
.loader-overlay.hidden {
    display: none;
}
 
.loader::before,
.loader::after {
    content: "";
    grid-area: 1 / 1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
}
 
.loader::after {
    opacity: 0.83;
    transform: rotate(60deg);
}