*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.company-logo{
    background-color: white;
    height: 100%;
    width: 250px;
    padding: 15px;
    @media screen and (max-width: 992px){
        background-color: #0066A7;
        width: fit-content;  
    }
}
#sidebar-logo{
    height: 35px;
}
#company-logo-img{
    height: 50px;
}
#profile-pic{
    height: 45px;
    background-color: white;
    border-radius: 50%;
}
.sidebar{
    width: 250px;
    height: 100vh;
    font-weight: 500;
    letter-spacing: 1.10px;
}
.sidebar-inner-box{
    height: 40px;
}

.sidebar-icons{
    height: 20px;
}
.active-icon{
    filter: invert(27%) sepia(100%) saturate(500%) hue-rotate(160deg) brightness(90%) contrast(90%);
}
.name-sidebar{
    color: #6C757D;
}
.active-name{
    color: #0066A7;
    font-weight: 600;
}
.modal-backdrop{
    opacity: 0.5 !important;
}
.offcanvas-backdrop{
    opacity: 0 !important;
} 