@model DataAccessLayer.ViewModels.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
    ViewData["Title"] = " Change Password Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="~/css/changepassword.css">
    <title>changepassword Page</title>
</head>

<body>

    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-lg-4 col-sm-12 h2 fw-bold" style="color: #0066A7;">
                Change Password
            </div>
        </div>
        <form method="post" asp-controller="UserProfile" asp-action="ChangePassword">
            <div class="row mt-3 ms-4">
                <div class="col-12 col-sm-9 col-md-8 col-lg-5 col-xl-4 input-change-password-container">
                    <div class="p-0 m-0 give-color">Enter your new password to update your credentials</div>
                    <div class="password-input">
                        <div class="form-control p-0 d-flex align-items-center position-relative">
                            <input type="password" class="form-control" id="OldPassword" placeholder="Old Password*"
                                asp-for="OldPassword" required>
                            <i class="bi bi-eye position-absolute h4" id="eye1" style="right: 20px ; top: 5px;"
                                onclick="togglePasswordOld()"></i>
                        </div>
                        <div id="password-error-msg" class="error-msg" asp-validation-for="OldPassword"></div>
                    </div>

                    <div class="password-input">
                        <div class="form-control p-0 d-flex align-items-center position-relative">
                            <input type="password" class="form-control" id="NewPassword" placeholder="New Password*"
                                asp-for="NewPassword" required>
                            <i class="bi bi-eye position-absolute h4" id="eye2" style="right: 20px ; top: 5px;"
                                onclick="togglePasswordNew()"></i>
                        </div>
                        <div id="passwordError" class="error-message"> <span asp-validation-for="NewPassword"
                                    class="text-danger"></span></div>
                    </div>
                      <div class="password-input">
                        <div class="form-control p-0 d-flex align-items-center position-relative">
                            <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm New Password*"
                                asp-for="ConfirmNewPassword" required>
                            <i class="bi bi-eye position-absolute h4" id="eye3" style="right: 20px ; top: 5px;"
                                onclick="togglePasswordConfirm()"></i>
                        </div>
                        <div id="passwordError" class="error-message"> <span asp-validation-for="ConfirmNewPassword"
                                    class="text-danger"></span></div>
                    </div>
                    <div class="d-flex justify-content-start align-items-center">
                        <button class="update-cancel-btn text-white" id="updatePassword" type="submit">Update
                            Password</button>
                        <button class="update-cancel-btn bg-white" id="cancelPassInput">Cancel</button>
                    </div>
                </div>

            </div>

        </form>

    </div>

</body>
<script src="~/js/changepassword.js"></script>

</html>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

@section Scripts{
   
    <partial name="_ValidationScriptsPartial" />

}
