
<!-- Complete Order Modal -->
<div class="modal fade" id="ORModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-sm">
            <form class="modal-body" id="ORModalOrderAppForm">
                <div id="confirmModalCompleted">
                    <div class="d-flex justify-content-between mb-3">
                        <h1 class="modal-title fs-5 fw-semibold special-color" id="exampleModalLabel">Menu</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="d-flex align-items-center flex-column justify-content-center mb-3">
                        <img src="~/images/qr-code.png" alt="" style="width: 220px; height:220px;">
                    </div>

                    <div class="d-flex justify-content-center gap-2">
                        <button type="button" class="light-btn" data-bs-dismiss="modal" style="width: 55px;">Done</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>